@import "./utils/vars.scss";

.call-to-us {
  flex-direction: column;
  align-items: center;
  color: #0B2A37;

  &__question-and-answer {
    margin-top: 50px;
    margin-bottom: 35px;
    font-style: normal;
    text-align: center;

    .question {
      margin-bottom: 10px;
      line-height: 24px;
      font-weight: 900;
      font-size: 36px;
    }

    .answer{
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__phone-number {
    width: 210px;
    height: 40px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: $main-red-color;
    border-radius: 5px;
    transition: background-color 0.5s ease-out;

    &:hover {
      background-color: $main-green-color;
      color: white;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (max-width: 600px) {
  .call-to-us {

    &__question-and-answer {
      margin-top: 30px;
      margin-bottom: 15px;

      .question {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 22px;
      }
    }

    &__phone-number {
      margin-bottom: 20px;
    }
  }
}
