@import "./utils/vars.scss";

.footer {
  background: #0B2A37;
  color: white;
  padding-bottom: 91px;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    margin-left: 102px;
  }

  &__right {
    margin-top: 95px;
    margin-right: 42px;
  }
}

.footer-logo {
  margin-top: 85px;
  margin-bottom: 33px;

  .logo {
    border-radius: 10px;
    transition: background-color 0.5s, border-radius 0.1s ease-out;
  }
}

.follow-us {
  display: flex;

  &__text {
    margin-left: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  &__text,
  &__facebook,
  &__twitter {
    margin-right: 8px;
  }
}

.copyright {
  margin-top: 12px;
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.useful-links {
  display: flex;
  width: 663px;
  justify-content: space-between;

  &__about-portal,
  &__cooperation,
  &__help-center {
    display: flex;
    flex-direction: column;

    .topic {
      margin-bottom: 31px;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
    }

    .link {
      color: white;
      line-height: 30px;
      font-weight: normal;
      transition: color 0.5s ease-out;
    }
  }
}

@media (max-width: 1100px) {
  .footer {
    &__left {
      margin-left: 30px;
    }
  }

  .footer-logo {
    margin-top: 90px;

    .logo {
      width: 160px;
    }
  }

  .useful-links {
    width: 550px;
  }
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;;

      &__left {
        margin: 0 auto;
      }

    &__right {
      margin-right: 0;
      margin-top: 30px;
    }
  }

  .footer-logo {
    margin-top: 30px;

    .logo {
      width: 220px;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;

      &__left {
        margin: 0 auto;
      }
  }

  .footer-logo {
    margin-top: 30px;

    .logo {
      width: 220px;
    }
  }

  .useful-links {
    width: min-content;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__about-portal,
    &__cooperation,
    &__help-center {
      margin-bottom: 30px;
    }
  }
}

.useful-links {
  .link:hover {
    color: $main-red-color;
  }
}

.follow-us {
  &__in:hover,
  &__facebook:hover,
  &__twitter:hover {
    border-bottom: 1px solid $main-red-color;
  }
}

.useful-links {
  .link:active {
    opacity: 0.6;
  }
}

.follow-us {
  &__in:active,
  &__facebook:active,
  &__twitter:active {
    opacity: 0.6;
  }
}