@import './utils/vars.scss';

.header {
  height: 735px;
  background: url(../img/header/header-background.png) no-repeat;
  background-size: cover;

  .header-top {
    display: flex;

    &__logo {
      margin-right: 28px;
      margin-top: 19px;
      margin-left: 17px;

      .logo {
        width: 263px;
        min-width: 100px;
        height: 60px;
        object-fit: contain;
        transition: background-color 0.5s, border-radius 0.1s ease-out;
      }
    }

    &__nav {
      margin-top: 26px;

      .link {
        transition: color 0.7s ease-out;
      }

      .nav__list {
        display: flex;

        .actions {

          &__help-center {
            display: flex;
            align-items: center;
            flex-flow: nowrap;
            padding-top: 11px;
            padding-bottom: 9px;
            padding-right: 25px;
            border: 2px solid #fff;
            border-radius: 5px;
            margin-right: 11px;
            transition: background-color 0.7s ease-out;

            .question-mark {
              margin-left: 12px;
              margin-right: 6px;
              width: 16px;
              height: 16px;
            }
          }

          &__call-us {
            padding: 13px 17px;
            padding-top: 17px;
            border: 2px solid white;
            border-radius: 5px;
            transition: background-color 0.7s ease-out;
          }

          &__sign-up {
            margin-left: 543px;
            margin-right: 40px;
            padding-top: 22px;
          }

          &__log-in {
            margin-right: 5px;
            padding-top: 22px;
          }

          &__menu {
            margin-left: 30px;
            margin-right: 5px;
            margin-top: 22px;
          }
        }
      }
    }
  }

  .header-bottom {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title-h1 {
      color: $main-blue-color;
      font-size: 80px;
      line-height: 100px;
      font-weight: 700;
    }

    &__title-h2 {
      color: white;
      font-size: 58px;
      font-weight: 700;
      line-height: 147%;
    }

    &__description {
      text-align: center;
      color: white;
      font-size: 26px;
      line-height: 38px;

      &--blue-bold {
        color: $main-blue-color;
        font-weight: 600;
      }
    }

    &__find-caregiver {
      margin-top: 45px;
      width: 274px;
      height: 68px;
      font-size: 18px;
      color: white;
      background-color: $main-red-color;
      border-radius: 5px;
      transition: background-color 0.7s ease-out;
    }
  }
}

.link {
  color:white;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.7s ease-out;

  &__menu {
    padding-left: 40px;
    margin-right: 5px;
    padding-top: 20px;
  }

  &__help-center {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }
}

.actions__menu:hover {
  * {
    cursor: pointer;
  }
}

.menu__toggle {
  opacity: 0;
  position: absolute;
}

.menu__span,
.menu__span::before,
.menu__span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color:white;
  border-radius: 2px;
}

.menu__span::before {
  content: "";
  top: -8px;
}

.menu__span::after {
  content: "";
  top: 8px;
}

@media (max-width: 1380px) {
  .header {
    height: 650px;

    .header-top {

      &__nav {

        .nav__list {

          .actions {
            &__sign-up {
              margin-left: 30vw;
            }
          }
        }
      }
    }

    .header-bottom {
      margin-top: 100px;

      &__title-h1 {
        font-size: 50px;
        line-height: 60px;
      }

      &__title-h2 {
        font-size: 38px;
        line-height: 100%;
      }

      &__find-caregiver {
        width: 244px;
        height: 48px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    height: 650px;

    .header-top {

      &__logo {
        margin-right: 25px;

        .logo {
          width: 160px;
        }
      }

      &__nav {

        .nav__list {

          .actions {
            &__sign-up {
              margin-left: 20vw;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .header {
    height: 650px;

    .header-top {

      &__logo {
        margin-right: 15px;
      }

      &__nav {

        .nav__list {

          .actions {
            &__sign-up {
              margin-left: 7vw;
            }
          }
        }
      }
    }

    .header-bottom {
      margin-top: 100px;

      &__title-h1 {
        font-size: 50px;
        line-height: 60px;
      }

      &__title-h2 {
        font-size: 38px;
        line-height: 100%;
      }

      &__find-caregiver {
        width: 244px;
        height: 48px;
      }
    }
  }
}

@media (max-width: 900px) {
  .header {

    .header-top {

      &__nav {

        .nav__list {

          .actions {
            &__sign-up {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 810px) {
  .header {
    height: 500px;

    .header-top {
      &__logo {
        margin-right: 18px;
        margin-left: 10px;

        .logo {
          width: 140px;
        }
      }

      &__nav {

        .nav__list {

          .actions {
            &__sign-up {
              margin-right: 30px;
            }

            &__log-in {
              margin-right: 5px;
              padding-top: 22px;
            }

            &__menu {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .header {
    display: flex;
    height: 400px;

    .header-top {
      flex-direction: column;

      &__logo {
        margin-right: 18px;
        margin-left: 10px;

        .logo {
          width: 170px;
        }
      }

      &__nav {
        margin-top: 0;

        .nav__list {
          height: 200px;
          width: 200px;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .actions {
            &__sign-up {
              margin-left: 30px;
              margin-right: 30px;
            }

            &__log-in {
              margin-right: 0;
              padding-top: 22px;
            }

            &__menu {
              margin-left: 20px;
            }
          }
        }
      }
    }

    .header-bottom {
      margin-top: 180px;

      &__title-h1 {
        font-size: 30px;
        line-height: 40px;
      }

      &__title-h2 {
        font-size: 16px;
      }

      &__find-caregiver {
        width: 150px;
        height: 45px;
        margin-top: 25px;

      }

      &__description {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}

@media (max-width: 550px) {
  .header {
    height: 350px;

    .header-bottom {
      margin-top: 135px;
    }
  }
}

.header-bottom__find-caregiver:hover {
  background-color: $main-blue-color;
}

.header-bottom__find-caregiver:active,
.actions__help-center:active,
.actions__call-us:active  {
  opacity: 0.6;
}

.logo:active {
  background-color: $main-green-color;
}

.actions__help-center:hover,
.actions__call-us:hover {
  background-color: $main-red-color;
  cursor: pointer;

  .link {
    color: white;
  }
}
