@import "utils/vars";
@import "utils/reset";

@import "./header.scss";
@import "./careWithCompany.scss";
@import "./specialistics.scss";
@import "./womenWithDoctorSmiling.scss";
@import "./forCaregivers.scss";
@import "./handsShowHeart.scss";
@import "./clientsChat.scss";
@import "./peopleWithLaptopSmiling.scss";
@import "./statistics.scss";
@import "./callToUs.scss";
@import "./footer.scss";

@import "./hamburgerMenu.scss";
@import "./buttonFindCaregiver.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  background-color: white;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: $main-red-color;
  text-decoration: underline;
}

a:active {
  color: $main-green-color;
}

.logo:hover {
  background-color: wheat;
  border-radius: 10px;
  cursor: pointer;
}

.logo:active {
  opacity: 0.6;
}

* {
  user-select: none;
}

.block {
  display: flex;
}