.people-with-laptop-smiling {
  height: 520px;
  background: url(../img/people-with-laptop.png) no-repeat;
  background-size: cover;
}

@media (max-width: 900px) {
  .people-with-laptop-smiling {
    height: 420px;
  }
}

@media (max-width: 700px) {
  .people-with-laptop-smiling {
    height: 370px;
  }
}

@media (max-width: 600px) {
  .people-with-laptop-smiling {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .people-with-laptop-smiling {
    height: 200px;
  }
}
