@import './utils/vars.scss';

.statistics {
  position: relative;
  padding-top: 159px;
  padding-bottom: 136px;
  background-color: #005173;
  color: white;
  display: flex;

  &__left {
    width: 481px;
    margin-left: 105px;

    .statistics-items {
      display: flex;
      flex-direction: column;

      .item {
        margin-bottom: 35px;

        &__line {
          height: 2px;
          width: 50px;
          background: $main-blue-color;
        }

        &__text {
          margin-top: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  &__right {
    margin-left: 130px;

    .statics-title {
      margin-top: 109px;
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 100px;
    }

    .statics-button {
      margin-top: 67px;
      color: white;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 38px;
      font-style: normal;
      align-items: center;
      width: 276px;
      height: 72px;
      border: 2px solid #fff;
      background: rgba(0,0,0,.0001);
      box-sizing: border-box;
      border-radius: 5px;
      position: relative;
      z-index: 1;
      transition: background-color 0.7s ease-out;
    }

    .statistics-heart {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media (max-width: 1200px) {
  .statistics {

    &__right {

      .statics-title {
        margin-top: 0;
        font-size: 60px;
        line-height: 80px;
      }

      .statics-button {
        width: 226px;
        height: 60px;
      }
    }
  }
}

@media (max-width: 900px) {
  .statistics {
    padding-top: 70px;
    padding-bottom: 20px;

    &__left {
      margin-left: 80px;
    }

    &__right {
      margin-left: 100px;

      .statics-title {
        margin-top: 0;
        font-size: 40px;
        line-height: 50px;
      }

      .statics-button {
        margin-top: 40px;
        font-size: 18px;
        line-height: 24px;
        width: 130px;
        height: 70px;
      }
    }
  }
}

@media (max-width: 700px) {
  .statistics {
    padding-top: 40px;

    &__left {
      margin-left: 50px;
    }

    &__right {
      margin-left: 30px;

      .statics-title {
        font-size: 30px;
        line-height: 40px;
      }

      .statics-button {
        margin-top: 40px;
        font-size: 18px;
        line-height: 20px;
        width: 120px;
        height: 70px;
      }
    }
  }
}

@media (max-width: 550px) {
  .statistics {
    padding-top: 30px;
    padding-bottom: 0;

    &__left {
      margin-left: 10px;
    }

    &__right {
      margin-left: 15px;
    }
  }
}

.statics-button:hover {
  background-color: $main-red-color;
}

.statics-button:active {
  opacity: 0.6;
}