@import './utils/vars.scss';

.statistics {
  display: flex;
  position: relative;
  padding-top: 159px;
  padding-bottom: 136px;
  background-color: #005173;
  color: white;

  &__left {
    width: 480px;
    margin-left: 105px;
  }

  &__right {
    margin-left: 130px;
  }
}

.statistics-items {
  display: flex;
  flex-direction: column;

  .item {
    margin-bottom: 35px;

    &__line {
      width: 50px;
      height: 2px;
      background: $main-blue-color;
    }

    &__text {
      margin-top: 10px;
      font-size: 16px;
      line-height: 22px;
      font-style: normal;
      font-weight: normal;
    }
  }
}

.statics-title {
  margin-top: 110px;
  font-size: 80px;
  line-height: 100px;
  font-style: normal;
  font-weight: 900;
}

.statistics-heart {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .statics-title {
    margin-top: 0;
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
  }

  .statistics__right {
    margin-left: 100px;
  }
}

@media (max-width: 900px) {
  .statistics {
    padding-top: 70px;
    padding-bottom: 20px;

    &__left {
      margin-left: 80px;
    }

    &__right {
      margin-left: 60px;
    }
  }

  .statics-title {
    margin-top: 0;
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 700px) {
  .statistics {
    padding-top: 40px;

    &__left {
      margin-left: 50px;
    }

    &__right {
      margin-left: 30px;
    }
  }

  .statics-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 550px) {
  .statistics {
    padding-top: 30px;
    padding-bottom: 0;

    &__left {
      margin-left: 10px;
    }

    &__right {
      margin-left: 15px;
    }
  }
}
